body {
    margin: 0 ;
    padding: 0;
}
section {
    margin: 10px auto;
    padding: 10px;
    border: 2px solid lightseagreen;
}
h1 {
    margin-top: 0;
}
span {
    font-style: italic;
    font-size: larger;
}
